body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /*background: #1111;*/
    background: url('daisies_background.jpg') no-repeat center center/cover;
    font-family: Arial, sans-serif;
    color: rgb(194, 120, 255);
}

.container {
    text-align: center;
}

.buttons {
        margin: 20px 0;

}

button {
    font-size: 1.5rem;
    padding: 20px 40px;
    margin: 10px;
    border: 20px; /*none*/
    border-radius: 20px;
    cursor: pointer;
    /*margin-bottom: 20px;*/
}

/* h1 {
    color: hsla(296, 56%, 68%, 0.667);
    text-shadow: 2px 2px 10px black;
} */

#yesBtn {
    background-color: green;
}

#noBtn {
    background-color: red;
}

h2 {
    margin-top: 20px;
    font-size: 2rem;
    text-shadow: 2px 2px 10px black;
}